node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
.motoshared/
.vscode/
.DS_Store
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
android/app/build/
